body {
  background-color: #2d2d2d;
  color: #ffffff;
  font-family: 'Eurostile', sans-serif;
}

.h1, .h2{
  font-family: 'Eurostile', sans-serif;
  font-weight: 'bolder';
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #00ccff;
}
button{
  background-color: rgb(62, 112, 177);
  color: rgb(254, 245, 251);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 1/50th; /* You can also use % or vw/vh as width */
  height: 1/50th; /* You can also use % or vw/vh as height */
  border-radius: 25px; /* You can adjust the value to make it more or less rounded */
}
.h4{
  font-family: 'Georgia', sans-serif;
  font-weight: lighter;
  font-size: 110px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #aeb986;
}
.small-header{
  font-family: 'Georgia', sans-serif;
  font-weight: lighter;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #aeb986;
}
.text-image-container{
  display: flex;
  align-items: center;
}
.bio-image{
  width: 1250px;
  height: 1250px;
  margin-left: auto;
  /* you can add other properties to style the image */
}