body {
  background-color: #2d2d2d;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.h1, .h2{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #00ccff;
}
button{
  background-color: rgb(0, 255, 208);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 1/50th; /* You can also use % or vw/vh as width */
  height: 1/50th; /* You can also use % or vw/vh as height */
  border-radius: 25px; /* You can adjust the value to make it more or less rounded */
}
